/* Bubble Chart */
.bubble-chart-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow-x: auto;
  height: 500px; /* Ensure the bubble chart has enough height */
}
.pie-chart-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow-x: auto;
  height: 500px;
}

.chart-section {
  width: 100%;
  margin-top: 20px;
}

.bubble-chart-inner-container {
  position: relative;
  height: 100%;
  min-height: 400px;
}

/* Bar Chart */
.bar-chart-container {
  position: relative;
  /* width: 100%; */
  width: 1200px; 
  margin: auto;
  height: 600px;
  overflow-y: auto;
}


.bar-chart-container canvas {
  /* width: 100% !important; */
  height: auto !important;
}

/* Dropdown */
.dropdown-container {
  margin: 20px;
}
